body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

.logo-git {
  width: 10%;
  height: 10%;
  margin-top: 0;
  padding-top: 0;
}

.input-search {
  width: 90px;
  height: 20px;
  background-color: #f2f2f2;
  padding: 3px;
  border: 1px solid #ccc;
  color: #333;
}

.button-search {
  outline: none;
  color: #444;
  width: 90px;
  margin: 1px;
  padding: 5px;
  font-family: Courier, monospace;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(220, 220, 220);
}

.label-search {
  font-family: Courier, monospace;
}

.in-search {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.fontSize-description {
  font-size: large;
  font-family: Courier, monospace;
  font-weight: bold;
}

.img-user {
  width: 20%;
  height: 20%;
  border-radius: 110px;
}

.center-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
}

.controller-user {
  display: table-cell;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.list_repositories {
  display: table-cell;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-family: Courier, monospace;
  font-weight: bold;
  border: 1px solid rgb(230, 230, 230);
}

.repository {
  border: 1px solid rgb(70, 70, 70);
}
