body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

.logo-git {
  width: 10%;
  height: 10%;
  margin-top: 0;
  padding-top: 0;
}
